#Google cloud
GOOGLE_SERVICE_ACCOUNT_JSON='JSON'
GOOGLE_SHEET_ID="FROM SHEETS"
GOOGLE_GENAI_API_KEY="FROM GC CONSOLE"


# groq
GROQ_API_KEY='gsk_C4c...'

#meta
WHATSAPP_ACCESS_TOKEN="from meta dashboard"
WHATSAPP_PHONE_NUMBER_ID="..."
WHATSAPP_APP_SECRET="..."
WHATSAPP_VERIFY_TOKEN="..."
AUTHORIZED_PHONE="..."


#db
SUPABASE_DB_PW = ...
DATABASE_URL = "..."
SUPABASE_KEY = ...
SUPABASE_URL = ...
